In [1]:
'Hello' + 10

TypeError: can only concatenate str (not "int") to str

In [2]:
print(a)

NameError: name 'a' is not defined

In [3]:
'hello

SyntaxError: unterminated string literal (detected at line 1) (628875690.py, line 1)

In [5]:
for i in range(5):
print(i)

IndentationError: expected an indented block after 'for' statement on line 1 (3695896917.py, line 2)

In [2]:
name = input('Enter your Name')
last_name = input('last_name')
age = int(input('Enter Age'))
print(f'Your name is {name} and last name is {last_name} and your age is {age}')

Enter your Name Atharv
last_name Tonape
Enter Age 18

Your name is Atharv  and last name is Tonape and your age is 18

In [3]:
name = input('Enter your Name')
last_name = input('last_name')
age = int(input('Enter Age'))
print(f'Your name is {name} and last name is {last_name} and your age is {age}')

Enter your Name Atharv
last_name Tonape
Enter Age five

ValueError: invalid literal for int() with base 10: 'five'

In [4]:
error = "ValueError: invalid literal for int() with base 10: 'five'"

In [5]:
error

"ValueError: invalid literal for int() with base 10: 'five'"

In [1]:
try:
    age = int(input('Enter your age in INT'))
    print(age * 5)
except Exception as error:
    print(error)

Enter your age in INT five

invalid literal for int() with base 10: 'five'

In [2]:
def square(a):
    try:
        print(a * a)
    except Exception as e:
        print(e)

In [3]:
square(5)

25

In [4]:
square('hjd')

can't multiply sequence by non-int of type 'str'

In [5]:
square('skjd' * 'sjdj')

TypeError: can't multiply sequence by non-int of type 'str'

In [7]:
try:
    a = 10
    b = 0
    print(a / b)
except Exception as e:
    print('Something wrong in code')
    print(e)

Something wrong in code
division by zero